body {
  padding-top: 70px;
  padding-bottom: 70px;
}

.accordion {
  padding-top: 10px;
}

.h3, .h4 {
  padding-top: 10px;
  padding-bottom: 0;
}

/* Custom */
.name {
  font-weight: bold;
}

.lt {
  color: orange;
}

.nft {
  color: red;
}

.upgrade {
  color: red;
}

/* For Non-Principles */
.nonp {
  font-style: italic;
  text-decoration: underline;
}

.reviews {
  color: #BF965C;
  font-style: italic;
}
